---
layout: home_layout
---
<section class="section">
  <div class="container">
    <div class="row masonry-container">
      {% if site.recipes.size > 0 %}
      {% for post in site.recipes | sort: "date" | reverse %}
      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <img class="img-fluid mb-4" src="{{post.image | relative_url}}" alt="{{post.title}}">
          {% if post %}
          {% assign categories = post.categories %}
          {% else %}
          {% assign categories = page.categories %}
          {% endif %}
          {% for category in post.categories %}
          <a class="d-block mb-3 text-dark text-uppercase" href="{{ 'category/' | relative_url }}{{ category | slugify }}">{{ category }}</a>
          {% endfor %}
          <h4 class="title-border"><a class="text-dark" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h4>
          <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-transparent">read more</a>
        </article>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    {% include pagination.html %}
  </div>
</section>
