<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
	<div><a class="editor-link btn" href="cloudcannon:collections/_data/sidebar.yml" class="btn"><strong>&#9998;</strong> Edit sidebar</a></div>
	
	{% if include.page.book %}
	<div class="book-block desktop-only">
		<h2>Рецепт из книги:</h2>
		<div class="book-cover">
			{% if include.page.book.link %}
				<a href="{{ include.page.book.link }}" target="_blank" rel="noopener">
					<img src="{{ include.page.book.cover | relative_url }}" alt="{{ include.page.book.title }}">
				</a>
			{% else %}
				<img src="{{ include.page.book.cover | relative_url }}" alt="{{ include.page.book.title }}">
			{% endif %}
		</div>
		<div class="book-meta">
			<p class="book-title">
				{% if include.page.book.link %}
					<a href="{{ include.page.book.link }}" target="_blank" rel="noopener">{{ include.page.book.title }}</a>
				{% else %}
					{{ include.page.book.title }}
				{% endif %}
			</p>
			<p class="book-author">{{ include.page.book.author }}</p>
		</div>
		{% comment %} Добавляем кнопку "Еще рецепты из книги" {% endcomment %}
		<a href="/all-recipes-from-book/{{ include.page.book.title | slugify }}" class="book-recipes-link">Еще рецепты из книги</a>
	</div>
	{% endif %}

	<div class="social-icons">
		{% if site.data.sidebar.facebook && site.data.sidebar.facebook != "" %}<a target="_blank" href="https://facebook.com/{{ site.data.sidebar.facebook }}">{% include social-icon.html icon="Facebook" %}</a>{% endif %}
		{% if site.data.sidebar.twitter && site.data.sidebar.twitter != "" %}<a target="_blank" href="https://twitter.com/{{ site.data.sidebar.twitter }}">{% include social-icon.html icon="Twitter" %}</a>{% endif %}
		{% if site.data.sidebar.pinterest && site.data.sidebar.pinterest != "" %}<a target="_blank" href="https://pinterest.com/{{ site.data.sidebar.pinterest }}">{% include social-icon.html icon="Pinterest" %}</a>{% endif %}
		{% if site.data.sidebar.instagram && site.data.sidebar.instagram != "" %}<a target="_blank" href="https://www.instagram.com/{{ site.data.sidebar.instagram }}">{% include social-icon.html icon="Instagram" %}</a>{% endif %}
	</div>

	{% if site.newsletter_action && site.newsletter_action!=""%}<form action="{{ site.newsletter_action }}" method="post">
		<h3>Newsletter</h3>
		<p>Get my latest recipes sent straight to your inbox.</p>
		<input type="text" name="EMAIL" placeholder="Email address">
		<input type="submit" value="Sign up">
	</form>
	{% endif %}
</aside>
