<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include header.html %}

  {{ content }}
  <script src="{{ site.baseurl }}/assets/plugins/jQuery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/plugins/slick/slick.min.js"></script>
  <script src="{{ site.baseurl }}/assets/plugins/masonry/masonry.js"></script>
  <script src="{{ site.baseurl }}/assets/plugins/smooth-scroll/smooth-scroll.js"></script>

  <script src="{{ site.baseurl }}/assets/plugins/search/lunr.min.js"></script>
  <script src="{{ site.baseurl }}/assets/plugins/search/search.js"></script>

  <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>

</html>
