{% else %}
  {% assign shuffled_recipes = "" | split: "" %}
{% endif %}

{% if shuffled_recipes.size > 0 %}
  <div class="related-recipes-section">
    <h3>Похожие рецепты</h3>
    <div class="related-recipes-grid">
      {% for recipe in shuffled_recipes %}
        <div class="recipe-card-list-item">
          <a href="{{ recipe.url | relative_url }}">
            {% if recipe.featured_image %}
              <div class="recipe-card-image-wrapper">
                <img class="recipe-card-image" src="{{ recipe.featured_image }}" alt="{{ recipe.title }}">
              </div>
            {% endif %}
            <div class="recipe-card-content-list-item">
              <h4>{{ recipe.title }}</h4>
              {% if recipe.book.title %}
                <p class="recipe-book">Из {{ recipe.book.title }}</p>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% comment %} Конец кода для похожих рецептов {% endcomment %}
